<div class="container">
    <div class="row justify-content-center">
        <h1>fa_icon "camera-retro" text:"Login"</h1>
    </div>
    <div class="row justify-content-center">
    <%= render 'form', current_user: @current_user %>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-primary" id="btn-enter" href="/users/new">Sign up</a>
    </div>
</div>